@import url("https://fonts.googleapis.com/css2?family=Kavivanar&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	gap: 40px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 70px;
	width: 100%;
	height: 90%;
	padding: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	width: 80%;
	background-color: #000000;
	padding: 10px;
	height: 62%;
	border-radius: 12px;
	gap: 15px;
}
.title {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

hr {
	background-color: #343434;
	height: 12px;
	border-radius: 999px;
}

.header-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #d9d9d9;
}

.border-dash {
	border: 2px dashed #000000;
	padding: 15px;
}

.border-img {
	border: 5px solid #d9d9d9;
}

img {
	width: 100%;
	border: 2px solid #000000;
}

.bottom-card {
	background: radial-gradient(
		50% 138.22% at 50% 50%,
		#000000 0%,
		#0084a8 20%,
		#0015ff 40%,
		#000000 60%,
		#0084a8 80%,
		#0015ff 100%
	);
}

.bottom-card {
	padding: 10px;
}

.border-multi {
	border: 7px solid black;
	border-radius: 7px;
}

.border-multi p {
	background-color: #d9d9d9;
	font-size: 12px;
	border-radius: 7px;
}

@media screen and (min-width: 720px) {
	main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.card {
		height: 100%;
	}
}

@media screen and (min-width: 1440px) {
	main {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
	.card {
		height: 100%;
	}
}
